<header class="jumbotron">
  <div class="container">
    <h1>サクッと肉のお店を検索</h1>
    <p>今回はBootrapでヘッダー画像の部分を作る。基本的なHTMLのひな形に、背景を指定するだけでそれっぽく作ることが可能。綺麗に見せるコツは背景の画像をどうのように使いこなすかによって大きく変わってきます。ボカシを与えると、遠近感の視覚効果を与えることが出来ます</p>
    <p><a class="btn btn-lg midashi-btn" role="button">もっと詳しく &raquo;</a></p>
  </div>

  <div>
    <% @images.each do |image| %>
      <%= image_tag image.data.url %>
    <% end %>
  </div>


</header>
