<header class="jumbotron">
  <div class="container">
    <h1>Healing cat </h1>
    <p>にゃんこからヒトコトもらう？</p>
    <nav class="nav-sns">
      <ul>
        <li><a href="http://twitter.com/share?url=[http://localhost:3000]&text=[Healing cat]&hashtags=[#Healing cat]" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
  </div>
</header>


<section class="listImage">
  <div class="container">
    <% @images.each do |image| %>
      <article>
        <a href= "<%= image.data.url %>">
          <div class="photo" style="background-image: url(<%= image.data.thumb.url %>);"></div>
          <div class="text">
            <h2>にゃんこ一号</h2>
            <p>そんなに焦るなよ　ゆっくりいこうにゃ</p>
          </div>
        </a>
      </article>
    <% end %>
  </div>
</section>
